<div class="row">
  <div class="col-sm-6">
    <div class="well text-center">
      <h3>Sales People</h3>
      <h1><strong>{{ salesPeople.length }}</strong></h1>
      <a ng-if="salesPeople.length > 0" ui-sref="salesPeople" class="btn btn-block btn-primary">Check 'Em Out</a>
      <a ng-if="salesPeople.length === 0" ui-sref="salesPeople" class="btn btn-block btn-danger">Add Some</a>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="well text-center">
      <h3>Regions</h3>
      <h1><strong>{{ regions.length }}</strong></h1>
      <a ng-if="regions.length > 0" ui-sref="regions" class="btn btn-block btn-primary">Check 'Em Out</a>
      <a ng-if="regions.length === 0" ui-sref="regions" class="btn btn-block btn-danger">Add Some</a>
    </div>
  </div>
</div>