<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Acme Sales Angular</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/jumbotron-narrow.css">
  <script src="/angular/angular.js"></script>
  <script src="/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/salesPerson/SalesPersonService.js"></script>
  <script src="/js/salesPerson/SalesPersonListCtrl.js"></script>
  <script src="/js/region/RegionService.js"></script>
  <script src="/js/region/RegionsListCtrl.js"></script>
  <script src="/js/CompanyStatusCtrl.js"></script>
</head>
<body ng-app="acme">
  <div class="container">
    <div class="header clearfix">
      <h3 class="text-muted"><img src="/images/logo.png" alt="">cme Sales</h3>
      <nav>
        <ul class="nav nav-pills">
          <li ui-sref-active='active'>
            <a ui-sref="home">Home</a>
          </li>
          <li ui-sref-active='active'>
            <a ui-sref="salesPeople">Sales People</a>
          </li>
          <li ui-sref-active='active'>
            <a ui-sref="regions">Regions</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="row" ng-controller="CompanyStatusCtrl">
      <div class="col-sm-6">
        <div ng-class="{'panel-default': salesPeople.length < 4, 'panel-danger': salesPeople.length >= 4}" class="panel panel-default text-center">
          <div class="panel-heading">
            <h3 class="panel-title">Sales People</h3>
            <p ng-if="salesPeople.length >= 4"><small><em>Can't afford any more salespeople :(</em></small></p>
          </div>
          <div class="panel-body">
            <h1><strong>{{ salesPeople.length }}</strong></h1>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div ng-class="{'panel-default': regions.length < 4, 'panel-danger': regions.length >= 4}" class="panel panel-default text-center">
          <div class="panel-heading">
            <h3 class="panel-title">Regions</h3>
            <p ng-if="regions.length >= 4"><small><em>Can't cover more ground :(</em></small></p>
          </div>
          <div class="panel-body">
            <h1><strong>{{ regions.length }}</strong></h1>
          </div>
        </div>
      </div>
    </div>
    <ui-view></ui-view>
    <footer class="footer">
      <p>&copy; 2016 ACME Company, Inc.</p>
    </footer>

  </div>
</body>
</html>
