<div class="well">
  <div class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label" for="name">Name:</label>
      <div class="col-sm-7">
        <input class="form-control" id="name" type="text" ng-model="newPerson.name" placeholder="Type the dude's name here...">
      </div>
      <div class="col-sm-3">
        <button ng-click="create(newPerson)" ng-disabled="!newPerson.name || salesPeople.length >= 4" class="btn btn-warning btn-block" type="submit">Add Sales Person</button>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="panel panel-default">
  <div class="panel-body">
    <ul class="list-group">
      <li ng-repeat="salesPerson in salesPeople" class="list-group-item clearfix">
          {{ salesPerson.name }}
          <button ng-click="destroy(salesPerson)" class="btn btn-danger btn-sm" type="button">Delete</button>
      </li>
    </ul>
  </div>
</div>
